---
import Nav from "./Nav.astro";
---

<header class="w-full max-w-7xl mx-auto px-6 py-8 flex justify-between items-center">
  <a href="/" class="text-xl tracking-widest lowercase font-light">
    <span class="text-sienna">ensienna</span>
  </a>
  <Nav />
</header>
